@value tBlue #1d9bf0;
@value tGray #787a7a;
 .input{
  composes: input from '../../common.module.css'
 }
  .formTitle{
    font-size: 26px;
    font-weight: 700;
    height: 72px;
    line-height: 72px;
  }
  .form{
    margin: 0px 32px;
  }
 
  .changeTypeButton{
    color:tBlue;
  }
  .birthdayTitle{
    font-size: 14px;
    font-weight: 700;
    margin-top: 25px;
  }
  .footer{
    position:fixed;
    text-align: center;
    bottom:20px;
    width:100%;
  }
  .footerButton{
    margin:0 auto;
    border-radius: 50px;
    background-color:tGray;
    color:white;
    width:80%;
    font-size: 16px;
    height: 40px;
  }

